@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  outline:  none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  background-color: #222831 ;
  color: #f0f4f8;
}

.logo{
  font-size: 2.5rem;
  color: #f0f4f8;
  font-weight: 600;
}

section{
  min-height: 100vh;
  padding: 2rem 5% 2rem;
  border-bottom: 2px solid #00ADB5;
}

.home{
  display: flex;
  align-items: center;
  padding: 0 9%;
  gap: 20px;
}

.content{
  max-width: 40rem;
  z-index: 99;
}

.content h1{
  font-size:3.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.content .title{
  position: relative;
  width: 32.8rem;
}

.content .title h3{
  font-size:3.2rem;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 2px #00ADB5;
}

.content p{
  font-size: 1.5rem;
  margin: 2rem 0 2rem;
  text-align: justify;
}

.btns{
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 25.5rem;
  height: 4rem;

}

.btns .btn{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 100%;
  background-color: #00ADB5;
  border: .2rem solid #00ADB5;
  border-radius: .8rem;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: .1rem;
  color: #ffffff;
}

.btns .btn:hover{
  color: #00ADB5;
  background-color: #222831;
}

.btns .btn:nth-child(2){
  background-color: transparent;
  color: #00ADB5;
}

.btns .btn:nth-child(2):hover{
  color: white;
  background-color: #00ADB5;
}

.socialIcon{
  position: absolute;
  bottom: 4rem;
  width: 170px;
  display: flex;
  justify-content: space-around;
}

.socialIcon a{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: .2rem solid #00ADB5;
  border-top-left-radius: 15px ;
  border-bottom-right-radius:15px;
  font-size: 20px;
  color: #00ADB5;
}

.socialIcon a:hover{
  color: white;
  background-color: #222831;
}

.profile{
  width: 25rem;
  height: 25rem;
  display: flex;
  background-color: transparent;
  align-items: center;
  margin-left:50px ;
  background-image: url("./image/mahnoor.jpg");
  background-size: cover;
  background-position: center ;
  transition: .3s;
  border-radius: 50%;
}

.profile:hover{
  background-color: #00ADB5;
  opacity: .3;
}

/* about section */

.about{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.9rem;
  padding-bottom: 1.5rem;
  background-color: #222831;
}

.heading{
  font-size: 3.5rem;
  margin-top:2.2rem;
  text-align: center;
}

span{
  color: #00ADB5;
}

.aboutImage{
  position: relative;
  width: 15rem;
  height: 15rem;
  border-radius:50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutImage img{
  width: 90%;
  height: 90%;
  border-radius: 50%;
  border: 2px solid #00ADB5;
}

.aboutImage .circle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #00ADB5 ;
}

.aboutContent{
  text-align: center;
}

.aboutContent h3{
  font-size: 2rem;
  color: #00ADB5;
}

.aboutContent p{
  font-size: 1.2rem;
  margin: 1rem 0 2rem;
}

.aboutBtns{
  align-items: center;
  justify-content: center;
  width: 100%;
}

.education{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: auto;
  padding-bottom: 5rem;
}

.educationRow{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 20px ;
}

.educationRow .educationColumn{
  display: flex;
  flex-direction: column;
  width: 550px;
}

.educationColumn .title{
  font-size: 2rem;
  margin: 0 0 1.5rem 2rem;
}

.educationColumn .educationSec{
  border-left:2px solid #00ADB5; ;
}

.educationSec .educationContent{
  position: relative;
  padding-left: 2rem;
}

.educationSec .educationContent::before{
  content: "";
  position: absolute;
  top: 0;
  left: -1.1rem;
  width: 2rem;
  height: 2rem;
  background-color: #00ADB5;
  border-top-left-radius: 15px ;
  border-bottom-right-radius:15px;
}

.educationContent .study{
  position: relative;
  padding: 1.5rem;
  border: 2px solid #00ADB5;
  border-radius:.6rem;
  margin-bottom:2rem ;
}

.educationContent .study:hover{
  background-color: #393E46;
}

.educationContent .study .year{
  font-size: 1.5rem;
  color: #00ADB5;
  padding-bottom: .5rem;
}

.educationContent .study .year i{
  padding-right: .5rem ;
}

.study h3{
  font-size: 1.3rem;
  color: #00ADB5;
}

.study p{
  font-size: 1.1rem;
  padding-top: .5rem;
}

/* Project */
.projects {
  padding: 20px;
}

.projects div {
  margin: auto;
  padding: 20px;
}

.projects h1 {
  font-size: 2.25rem;
  font-weight: 700;
  text-align: center;
  margin-top: 60px;
}

.project-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.project {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  border: 2px solid #00ADB5;
}

.project h3{
  font-size: larger;
  color: #00ADB5;
}

.project img {
  height: 400px;
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.project:hover img{
  transform: scale(1.1);
}

.project:hover #layer {
  transform: translateY(0); 
  bottom: 0; 
}

.projects button{
  height: 50px;
  width: 130px;
  background-color: #00ADB5;
  border: .2rem solid #00ADB5;
  border-radius: 8px;
  margin-top: 20px;
  transition: all 0.30s;
}

.projects button:hover{
  color: #00ADB5;
  background-color: #222831;
  
}

.projects button a{
  font-size: 1rem;
  font-weight: 700;
  color: #f0f4f8;
}

/* skills */

.skills{
  min-height: auto;
  padding-bottom: 7rem;
  background-color: #222831;
}

.skills .skillRow{
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin-top: 20px ;
}

.skillRow .skillColumn{
  display: flex;
  flex-direction: column;
  width: 550px;
}

.skillColumn .title{
  font-size: 2rem;
  margin: 0 0 1.5rem;
}

.skillSec .skillContent{
  position: relative;
  border: 2px solid #00ADB5;
  border-radius: .5rem;
  padding: .5rem 1.5rem;
}

.skillSec .skillContent:hover{
  background-color: #393E46;
}

.skillContent .progress{
  padding: .5rem 0;
}

.skillContent .progress h3{
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
}

.skillContent .progress h3 span{
  color: #f0f4f8;
}

.skillContent .progress .bar{
  height: 2rem;
  border-radius: .6rem;
  border: 2px solid #00ADB5;
  padding: .5rem;
  margin: 1rem 0;
}

.skillContent .progress .bar span{
  display: block;
  height: 100%;
  border-radius: .3rem;
  background-color: #00ADB5;
}

.skillColumn:nth-child(1) .skillContent .progress:nth-child(1) .bar span{
  width: 80%;
}

.skillColumn:nth-child(1) .skillContent .progress:nth-child(2) .bar span{
  width: 95%;
}

.skillColumn:nth-child(1) .skillContent .progress:nth-child(3) .bar span{
  width: 90%;
}

.skillColumn:nth-child(1) .skillContent .progress:nth-child(4) .bar span{
  width: 70%;
}

.skillColumn:nth-child(1) .skillContent .progress:nth-child(5) .bar span{
  width: 50%;
}

.skillColumn:nth-child(1) .skillContent .progress:nth-child(6) .bar span{
  width: 75%;
}

.skillColumn:nth-child(2) .skillContent .progress:nth-child(1) .bar span{
  width: 70%;
}

.skillColumn:nth-child(2) .skillContent .progress:nth-child(2) .bar span{
  width: 80%;
}

.skillColumn:nth-child(2) .skillContent .progress:nth-child(3) .bar span{
  width: 70%;
}

.skillColumn:nth-child(2) .skillContent .progress:nth-child(4) .bar span{
  width: 90%;
}

.contact{
  min-height: auto;
  padding-bottom: 7rem;
}

.contact form{
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
}

.contact form .inputBox{
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .inputBox .inputField{
  position: relative;
  width:  49%;
  margin: .7rem 0;
}

.contact form .inputBox .inputField input:hover,
.contact form .textareaField textarea:hover{
  background-color: #393E46;
}

.contact form .inputBox .inputField input, 
.contact form .textareaField textarea{
  width: 100%;
  height: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  color: #f0f4f8;
  background-color: transparent;
  border-radius: .6rem;
  border: 2px solid #00ADB5;
}

.contact form .inputBox .inputField input::placeholder, 
.contact form .textareaField textarea::placeholder{
  color: #f0f4f8;
}

.contact form .textareaField{
  position: relative;
  margin: .8rem 0 2.7rem;
  display: flex;
}

.contact form .textareaField textarea{
  resize: none;
}

.contactBtns{
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background-color: #222831;
}

.footerText p{
  font-size: 1.6rem;
}

.footerIcons a{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  padding: .8rem;
  background-color: #00ADB5;
  border: 2px solid #00ADB5;
  border-radius: 50%;
  font-size: 1.5rem;
  color: #222831;
}

.footerIcons a:hover{
  color: #00ADB5;
  background-color: #222831;
}

/* Responsive code*/

@media (max-width: 1200px){
  html{
      font-size: 75%;
  }
}

@media (max-width: 991px){
  .header{
      padding: 2rem 4%;
  }

  .content{
      width: 90%;
  }

  section{
      padding: 10rem 2% 2rem;
  }

  .home{
      padding: 0 4%;
  }

  .footer{
      padding: 2rem 4%;
  }
}

@media (max-width: 768px){
  .header{
      background-color: #222831;
  }

  #menuIcon{
      display: block;
  }

  .navbar{
      position: absolute;
      top: 100%;
      left: -100%;
      width: 100%;
      padding: 1rem;
      background-color: #222831;
      box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
      transition: .25s ease;
      transition-delay: .25s;
  }

  .navbar.active{
      left: 0;
      transition-delay: 0s;
  }

  .navbar a{
      display: block;
      font-size: 2rem;
      margin: 3rem 0;
  }

  .profile{
      pointer-events: none;

  }

  .content{
      width: 50%;
      margin-bottom:-100px ;
      margin-top: -50px;
  }

  .content h1{
      font-size: 3rem;
  }

  .aboutContent p{
      width: 80%;
      text-align: center;
      margin-left: 60px;
  }

  .educationRow{
      width: 80%;
  }

  .skillRow{
      margin-left:90px ;
  }
  
}

@media (max-width: 520px){
  html{
      font-size: 50%;
  }
  .content{
      width: 60%;
  }

  .content h1{
      display: flex;
      flex-direction: column;
  }

  .profile{
      margin-left: -10px;
  }

  .socialIcon{
      width: 160px;
  }

  .socialIcon a{
      width: 38px;
      height: 38px;;
  }

  .project-list{
      display: flex;
      flex-direction: column;
      font-size: medium;
  }

  .project button a{
      font-size: medium;
  }

  .skillRow{
      width: 80%;
      margin-left:40px ;
  }
}

@media (max-width: 462px){
  .content{
      width: 50%;
  }
  .content h1{
      font-size: 3.2rem;
  }
  .content .title h3{
      font-size: 30px;
   }
}
